
<h1>Search Upcoming Delivery Schedule</h1>
  <input type="text" class="  search-query form-control" placeholder="Search" />
     <img src="http://blog.mailup.com/wp-content/uploads/Editorial-Calendar-Template-Sample-February-2015-e1421173293952.png" height="800px" width="800px"/>
<h1>Search#index</h1>
<p>Find me in app/views/search/index.html.erb</p>
