
<p>
	
	
	<h2>Search  Email History & Delivery Schedule by:</h2>
	<input type="text" class="  search-query form-control" placeholder="Search" />

	<h1>User Search Allowences</h1>
	<h3>ECA Staff:</h3>
		Date<br>
		State<br>
		City<br>
		District<br>
		Grade<br>
		Kit Order #<br>
		Inventory #<br>
		Vendor #<br>
		(can view evrything below as well)

		<hr><br>
		<h3>Principal / School Admin</h3>
		School<br>
		Teacher<br>
		(can view evrything below as well)
		<hr><br>
		<h3>Teacher:</h3>
		All Emails to them
		Delivery Schedule
		Kit Status
	</p>
<h1>Email#index</h1>
